.editor {
    height: 100%;

    &__textarea {
        width: 100%;
        height: 100%;
        padding: 20px;
        font-size: 1.2rem;
        font-family: $font-family;
        font-weight: 300;
        background: $background-color-light;
        border: none;
        outline: none;
        resize: none;
        appearance: none;
        overflow: hidden;
    }

    &__download-button {
        position: absolute;
        left: 20px;
        bottom: 5%;
        padding: 15px;
        border-radius: 15px;
        border-style: solid;
        font-family: $font-family;
    }
}