@import './assets/scss/globals.scss';
@import './App.scss';
@import './components/layouts/layouts.scss';
@import './components/editor/editor.scss';
@import './components/title-bar/title-bar.scss';
@import './components/preview/preview.scss';